* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
}

.box {
  width: 840px;
  margin: 20px auto 50px auto;
}

.box-item {
  width: 840px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cece;
}
